body{
    text-align: center;
   
   
}
h1{
    color: darkgreen;
}
#contact-area{
    background-color: aquamarine;
    display:flex;
    justify-content: space-between ;
    width:30%;
    padding:3px;
    margin-bottom: 5px;
    
    

    
}
#contact-container{
    text-align: center;
    background-color: aqua;
}
